/*
 * HELambdaP (CL EXT) STYLE
 *
 * Inspired by www.rhythmbox.org, (c) rhythmbox 2002
 *
 * New code, modifications
 * (c) Idan Gazit 2002, and
 * (c) Marco Antoniotti, 2003-2016
 *
 * Permission is hereby granted to use this style, etc etc etc.
 */

/* body styles. */
body {
    background: #ffffff;
    font-family: Verdana, Arial, Helvetica;
    font-weight: normal;
    font-size: 12px;
    color: black;
}

.innertube {
    padding-left: 5px;
    padding-top: 5px;
}

main{
    position: fixed;   
    top: 65px;         /*set to height of the header*/
    bottom: 65px;      /*set to height of the footer*/
    left: 25%;         /*set to width of the navbar */
    right: 0%;         /*to let the scroll lie on the far right*/
    overflow: auto;
    background: #ffffff;
    border-color: #808080;
    border-width: 1px;
    border-style: none none none dotted;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    overflow: hidden;
    background: #9ebcb4;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 65px;
    overflow: hidden;
    background: #ffffff;
    border-color: #808080;
    border-width: 1px;
    border-style: dotted none none none;
}

nav{
    position: absolute;
    top: 65px;
    bottom: 65px;
    left: 0;
    width: 25%;
    background: #ffffff;
}

#nav_index{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    background: #ffffff;
}

#nav_map{
    position: absolute;
    top: 0;
    bottom: 75%;    /*complement of #nav_list top*/
    width: 100%;
    overflow: auto;
    background: #ffffff;
    border-color: #808080;
    border-width: 1px;
    border-style: none none dotted none;
}

#nav_list{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 25%;    /*complement of #nav_map bottom*/
    width: 100%;
    overflow: auto;
    background: #ffffff;
}

.header{
    padding-left: 2em;
    padding-top: 5pt;
    color: #41286f;
    font-size: 14pt;
}

.footer {
    font-family: Verdana, Arial, Helvetica;
    font-size: 10px;
    color: #808080;
    font-weight: normal;
    padding: 5px;
    text-align: right;
}

/*.navigation as of old CSS - should work with no problem*/
.navigation {
    word-spacing: 5px;
    position: absolute;
    top: 35px;
    right: 5px;
    text-align: right;
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
    color: #ffffff;
    font-weight: normal;
    word-spacing: 0px;
 }